@import "src/styles";

.proyect-section {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    // background-color: $color-secondary-dark;
    background-image: linear-gradient(to bottom, #ff6300, #ec7624, #da843f, #c98f5a, #b89776);
    padding: 10rem 3rem 2rem;

    @include respond(tab-land){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    // @include respond(phone){

    // }

    & > * {
      margin: 3rem;
      flex-grow: 1;

      @include respond(tab-land){
        width: 70%;
      }

      @include respond(tab-port){
        width: 80%;
      }

      @include respond(phone){
        width: 90%;
      }

    }
}
