@import "src/styles";

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);

  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100%{
    opacity: 0;
    transform: translateX(-15rem);
  }
}


.menu {
  position: fixed;
  z-index: 1;

  left: .5rem;
  top: .5rem;


  &-checkbox {
    display: none;
  }

  &-label {
    text-align: center;
    cursor: pointer;

    position: absolute;

    height: 7rem;
    width: 7rem;
    border-radius: 50%;

    height: 6rem;
    width: 6rem;

    transition: all .3s;

    z-index: 2;
  }

  &-icon {
    position: relative;
    // margin-top: 3.5rem;
    margin-top: 3rem;

    z-index: 3;


    &,
    &::before,
    &::after {
      transition: all .4s;
      width: 2.5rem;
      height: .2rem;
      background-color: $color-text;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -.5rem;
    }
    &::after {
      top: .5rem;
    }
  }

  &__no-list {
    top: -.5rem;
    left: -.5rem;
    visibility: hidden;
  }

  &__hide-list {

    top: -.5rem;
    left: -.5rem;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-15rem);
    transition: visibility 0s linear 0.33s, transform 0.33s linear, opacity 0.33s linear;
  }

  &__show-list {
    animation-name: moveInLeft;
    animation-duration: .25s;
    animation-timing-function: ease-out;

    top: -.5rem;
    left: -.5rem;
  }

  &__list {

    position: absolute;

    list-style-type: none;

    width: 40rem;
    height: 100vh;
    // top: -3rem;

    padding: 7rem 2.5rem;
    background-color: #dbcab6;

    &-element {
      text-align: center;
      cursor: pointer;

      margin: 3rem;

      & > label {
        text-decoration: none;
        color: $color-text-alternative;
        cursor: pointer;
      }

      &:hover{
        & > label {
          color: #ff6300;
          font-weight: bold;
        }
      }
    }
  }

  &-checkbox:checked + &-label &-icon {
    background-color: transparent;
  }
  &-checkbox:checked + &-label &-icon::before {
    top: 0;
    transform: rotate(225deg);
  }
  &-checkbox:checked + &-label &-icon::after {
    top: 0;
    transform: rotate(-225deg);
  }
}
